body{
	margin: 0;
	font-family: 'Red Rose', cursive;
	font-size: 20px;
	line-height: 30px;
	background-image: url("https://i.pinimg.com/originals/c9/ca/22/c9ca22618538d293331834b2ddf5c36a.jpg");
	
}
header{
	/* background-color: #FFFFFF;*/
	border: 5px solid #000000;
	background-image: url("https://i.pinimg.com/originals/72/d9/17/72d917426e84a4abd1d5155c4e0cf78e.jpg");
	background-position: center;
	background-repeat: no-repeat;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px
}
header h1{
	color: white;
	font-size: 35px;
	text-shadow: 2px 2px black;
}
header img{
	border-radius: 200px;
	border: 5px solid #000000;
}
main{
	max-width: 800px;
	margin: 0 auto;
	padding: 0 20px
}
main img {
	max-width:100%;
	border: 5px solid #000000;
}
h2{
	font-size: 30px;
	color:#000000;
	background-color: #EAEAEC;
}

main p{
	background-color: #EAEAEC;
}
p{
	color:#000000;
}
a.top{
	color: #FFFFFF;
}
a.a2{
	color: black;
	text-decoration: none;
}
a.a2:hover{
	color: grey;
}
div{
	background-color: #EAEAEC;
}
div.col{
	background-color: black;
}


.mobileShow { display: none;}
/* Smartphone Portrait and Landscape */
 @media only screen
 and (min-device-width : 320px)
 and (max-device-width : 480px){ .mobileShow { display: inline;}}



#leftbox{
	float:left;
	width:50%;
	height: 550px
}
#rightbox{
	float: right;
	width: 50%;
	height: 550px
}
#leftbook{
	float:left;
	width:50%;
	height: 450px
}
#rightbook{
	float: right;
	width: 50%;
	height: 450px;
}
#rightbox{
	display: block;
	margin: 0 auto;
}
h2.other{
	clear: both;
}
ul{ 
	clear: both;
	background-color: #EAEAEC;
}
.row{
	background-color: #000000; 
	color: #490245;
}
.row:after{
	content: '';
	display: table;
	clear: both;
}
.col{
	border: 4px dashed rgba(234, 234, 236,.2);
	padding-bottom: 10px;
	float: left;
	margin-left: 20px;
	width: 150px;
	box-sizing: border-box;
}
.col:first-child{
	margin-left: 0;
}
footer{
	background-color: #000000;
	text-align: center;
	padding: 50px; 
}
p.footer{
	color: white;
}
a.top{
	text-decoration-line: none;
}
a.top:hover{
	color: grey;
	/*position shifts*/
}
img.julieimg{
	transform: translateY(70px);
}
p.juliecap{
	transform: translateY(-30px);
}
p.julietext{
	transform: translateY(-10px);
}
p.gamecap{
	transform: translateY(-25px);
}


/* Currently reading books */
p.leftbookcap{
	transform: translateY(-25px);
}
img.leftbookimg{
	z-index: 1;
}

/* book descriptions */

p.leftbookdes{
	transform: translateY(-455px);
	text-align: left;
	width: 260px;
	height: 380px;
	z-index: -1;
	opacity: 0;
}
p.leftbookdes:hover{
	opacity: 100;
}
p.rightbookcap{
	transform: translateY(-25px);
}
p.rightbookdes{
	transform: translateY(-495px);
	text-align: left;
	width: 260px;
	height: 390px;
	z-index: -1;
	opacity: 0;
}

p.rightbookdes:hover{
	opacity: 100;
}

p.gamedes{
		transform: translateY(-480px);
	text-align: left;
	width: 260px;
	height: 405px;
	z-index: -1;
	opacity: 0;
}
p.gamedes:hover{
	opacity: 100;
}
p.juliedes{
		transform: translateY(-520px);
	text-align: left;
	width: 280px;
	height: 410px;
	z-index: -1;
	opacity: 0;
}
p.juliedes:hover{
	opacity: 100;
}
p.jokedes{
		transform: translateY(-490px);
	text-align: left;
	width: 280px;
	height: 415px;
	z-index: -1;
	opacity: 0;
}
p.jokedes:hover{
	opacity: 100;
}

p.afuckdes{
		transform: translateY(-490px);
	text-align: left;
	width: 280px;
	height: 415px;
	z-index: -1;
	opacity: 0;
}
p.afuckdes:hover{
	opacity: 100;
}

p.adancedes{
		transform: translateY(-490px);
	text-align: left;
	width: 280px;
	height: 415px;
	z-index: -1;
	opacity: 0;
}
p.adancedes:hover{
	opacity: 100;
}
img.rightbookimg{

}



p.aboutcap{
	transform: translateY(-19px);
}
h2.about{
	transform: translateY(-15px);
}


h2.currently{
	transform: translateY(-30px);
}
p.wallflowercap{
	transform: translateY(25px);
}
p.bindycap{
	transform: translateY(-10px);
}
p.jokecap{
	transform: translateY(-25px);
}
p.clashcap{
	transform: translateY(-4px);
}
p.afucktext{
	transform: translateY(-60px);
}
p.joketext{
	transform: translateY(70px);
}
p.fuckcap{
	transform: translateY(-30px);
}
img.fuckimg{
	transform: translateY(-100px);
}
p.swords{
	transform: translateY(0px);
}
p.adancetext{
	transform: translateY(-40px);
}
p.adancecap{
	transform: translateY(-30px);
}

/* contacts page */

p.contactinfo{
	background-color: #EAEAEC;

}

/* quotes page */

p.quotestext{
	background-color: #EAEAEC;

}

/* book recommendations page */


.container{
	width: 100%;
	height: 100vh;
	background-image: url("https://i.pinimg.com/originals/c9/ca/22/c9ca22618538d293331834b2ddf5c36a.jpg");
	display: flex;
	align-items: center;
	justify-content: center;

}

form{
	background: #EAEAEC;
	display: flex;
	flex-direction: column;
	padding: 2vw 4vw;
	width: 90%;
	max-width: 600px;
	border-radius: 10px;
}

form h1{
	margin-bottom: 40px;
}

form input, form textarea{
	border:  0;
	margin: 10px 0;
	padding: 20px;
	outline: none;
	font-size: 16px;

}

form button{ 
	padding: 15px;
	background: white;
	font-size: 18px;
	border: 0;
	outline: none;
	cursor: pointer;
	width: 150px;
	margin: 20px auto 0;
	border-radius: 30px;
}