body{
	margin: 0;
	font-family: 'Red Rose', cursive;
	font-size: 20px;
	line-height: 30px;
	background-image: url("https://i.pinimg.com/originals/c9/ca/22/c9ca22618538d293331834b2ddf5c36a.jpg");
	
}
header{
	/* background-color: #FFFFFF;*/
	border: 5px solid #000000;
	background-image: url("file:///C:/Users/sangw/Documents/Website/sangwa-reads/img2/header.jpeg");
	background-position: center;
	background-repeat: no-repeat;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px
}
header h1{
	color: white;
	font-size: 35px;
	text-shadow: 2px 2px black;
}
header img{
	border-radius: 200px;
	border: 5px solid #000000;
}
main{
	max-width: 800px;
	margin: 0 auto;
	padding: 0 20px
}
main img {
	max-width:100%;
	border: 5px solid #000000;
}
h2{
	font-size: 30px;
	color:#000000;
	background-color: #EAEAEC;
}
main p{
	background-color: #EAEAEC;
}
p{
	color:#000000;
}
a.top{
	color: #FFFFFF;
}
a.a2{
	color: black;
}
a.a2:hover{
	color: grey;
}
#leftbox{
	float:left;
	width:50%;
	height: 550px
}
#rightbox{
	float: right;
	width: 50%;
	height: 550px
}
h2.other{
	clear: both;
}
ul{ 
	clear: both;
	background-color: #EAEAEC;
}
.row{
	background-color: #000000; 
	color: #490245;
}
.row:after{
	content: '';
	display: table;
	clear: both;
}
.col{
	border: 4px dashed rgba(0,0,0,.2);
	padding-bottom: 10px;
	float: left;
	margin-left: 20px;
	width: 150px;
	box-sizing: border-box;
}
.col:first-child{
	margin-left: 0;
}
footer{
	background-color: #000000;
	text-align: center;
	padding: 50px; 
}
p.footer{
	color: white;
}
a.top{
	text-decoration-line: none;
}
a.top:hover{
	color: grey;
	/*position shifts*/
}
img.julieimg{
	transform: translateY(70px);
}
p.juliecap{
	transform: translateY(60px);
}
p.gamecap{
	transform: translateY(-5px);
}
p.leftbookcap{
	transform: translateY(-10px);
}
p.rightbookcap{
	transform: translateY(-4px);
}
p.aboutcap{
	transform: translateY(-19px);
}
h2.about{
	transform: translateY(-15px);
}
h2.currently{
	transform: translateY(0px);
}
h2.toppicks{
	transform: translateY(-35px);
}
p.wallflowercap{
	transform: translateY(25px);
}
p.bindycap{
	transform: translateY(-10px);
}
p.jokecap{
	transform: translateY(-15px);
}
p.clashcap{
	transform: translateY(-4px);
}
p.afuck{
	transform: translateY(7px);
}
p.swords{
	transform: translateY(0px);
}